.app {
  font-family: "Jet Brains Mono", sans-serif;
  background-color: #FFF;
}

.title {
  font-size: 24px;
  color: #000;
  margin-bottom: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 24px;
}

.image {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  margin-bottom: 20px;
}

