.app {
  background-color: #FFF;
  padding-bottom: 40px;
}

.title {
  font-size: 24px;
  color: #000;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  margin-bottom: 20px;
}

.image {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  width: 500px;
}

