.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.image {
  object-fit: cover;
  object-position: center;
  max-width: 100%
}

.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
